<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Gerer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href='/public/stylesheets/style.css'>
</head>
<body>
<div class="container">
    <header>
        <% include nav %>
    </header>
    <div class="page-header text-center">
        <h1>About Page</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->

        <div class="col-sm-12">
            <div class="well">
        <p>Autor: Mikołaj Sikorski</p>
        <p>Aplikacja Stworzona na potrzeby pracy licencjackiej do użytku poznawczo badawczego. Technologia użyta do stworzenia: node.js, JQuery, ejs, mongo.</p>
        </div>

    </div>

</div>
</body>
</html>